p {
    border: 1px solid red;
    width: 200px;
    height: 200px;
}

span {
    border: 1px solid rgb(0, 255, 76); 
}

div {
    border: 1px solid rgb(204, 7, 178);
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 10px;
    display: inline-block;
}

.none {
     background: red;
     width: 200px;
     height: 200px;
     display: none;
     /*Quando usado display none o elemento fica invisível na tela*/
     /*Elemento visibiliry hidden faz com que a inspeção do elemento apareça mas não o conteúdo*/
}

