/*Segue uma importação de google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

body {
    font-family: 'Redressed', cursive;
}
/* tag html */
p, li, h1 {
    color: rgb(230, 38, 150);
}
/* id */
#texto {
    color: darkblue;
    font-size: 2rem;
}
/* class */
.bold {
    font-weight: bold;
    font-size: 20px;
}
/* atributo */
/*Para um atributo dentro da div deve ser usado []*/
[lang=pt-br] {
    color: darkorchid;
    font-size: 12px;
}
/* class */
.container {
    background: pink;
    padding: 20px;
    margin: auto;
}

.container p {
    border: 5px  double rgb(14, 28, 153) ;
    /*border-radius serve para arredondar. Inserindo medidas é possível arredondar quantas pontas quiser*/
    border-radius: 16px 0 ;
    margin: auto;
    width: 20%;
    height: 20%;
    text-align: center;
 
}

.circle {
    background-color: blue;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
/*Width (largura), Height (altura) Para controla a miníma e máxima usar min-max*/
/*Para entender bem sobre o que é a medida em assistir aula 14 módulo 2*/