@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@500&display=swap');

body, button, input, select, textarea {
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;

}

:root {
    --dark-blue: #1d1d1d;
}