@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@500&display=swap');

body, button, input, select, textarea {
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;

}

body {
    margin: 50px;
    justify-content: center;
    text-align: center;
    display: flex;
}

.iphone-container {
    width: 250px;
    height: 500px;
    background: rgb(49, 49, 49);
    border-radius: 40px;
    border-style: solid; 
    border-color:  black;
    border-width: 11px;
    position: relative;
}

.iphone-container .notch {
    width: 120px;
    height: 20px;
    background: black;
    border-radius: 0 0 15px 15px;
    margin-left: auto;
    margin-right: auto;
}


  
.iphone-container .menu {
    width: 60px;
    height: 2px;
    background: white;
    border-radius: 20px;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 30px);
}

.iphone-container svg{
    color: white;
    width: 50px;
    height: 15px;
    text-align: center;
}
.iphone-container h1, h4, p, h3{
    color: white;
    margin: 5px;
}

p {
    font-size: 13px;
}

h1 {
    font-size: 65px;
}

h4{
font-size: 12px;

}

h3{
    font-size: 17px
    

}

.iphone-container .week {
    color: white;
    display: grid;
    grid-template-columns: 3fr 1fr;
    text-align: left;
    margin-left: 10px;
     margin-top: 150px;
     position: absolute;
    
    
}
